$colors: (
        primary_background: #040F0F,
        secondary_background: #2D3A3A,
        primary_green: #248232,
        secondary_green: #2BA84A,
        primary_text: rgb(132, 151, 78),
        secondary_text: #E0CF27,
        bluebell: #979fd0,
);
